.shopping{
    width: 100%;
    height:100;
    margin-top: -10rem;
}
.fotter{
    background-color: black;
    width: 100%;
    height: 5rem;
}
.content{
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 2rem;
}
.main{
    text-align: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-bottom: 10rem;
}